<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExtentReports" version="2.41.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="86.0.4240.2200" targetFramework="net461" />
</packages>