<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appUrl" value="https://gmail.com"/>
    <add key="ExecutionType" value="Local" />
    <add key="Browser" value="Chrome" />
    <add key="EnvironmentName" value="DEV" />
    <add key="ApplicationName" value="MobileApp" />
    <add key="BrowserVersion" value="35" />
    <add key="OS" value="Windows 10" />
    <add key="SaucelabsUserName" value="xxxxxx" />
    <add key="SaucelabsAccessKey" value="xxxxxxxxxxx" />
    <add key="SaucelabsURL" value="http://ondemand.saucelabs.com/wd/hub" />
    <add key="ScreenResolution" value="1280x1024" />
   </appSettings>
</configuration>