<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appUrl" value="https://gmail.com" />
    <add key="ExecutionType" value="Local" />
    <add key="Browser" value="Chrome" />
    <add key="EnvironmentName" value="DEV" />
    <add key="ApplicationName" value="MobileApp" />
    <add key="BrowserVersion" value="35" />
    <add key="OS" value="Windows 10" />
    <add key="SaucelabsUserName" value="xxxxxx" />
    <add key="SaucelabsAccessKey" value="xxxxxxxxxxx" />
    <add key="SaucelabsURL" value="http://ondemand.saucelabs.com/wd/hub" />
    <add key="ScreenResolution" value="1280x1024" />
   </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>